doctype html
html(lang='en')
  head
    title ethereum
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='0')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- link(rel="icon",type='image/png',href="images/favicon.png")
    //- link(rel="shortcut icon",type='image/x-icon',href="favicon.ico")
    | <!-- inject:css -->
    | <!-- endinject -->


  body
    block content

    footer
      div.container
        p.text-muted
            | All content copyright &copy; Eth Dev Ltd. All rights reserved.

    | <!-- inject:js -->
    | <!-- endinject -->
